@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container-section2 {
  background-color: rgb(255, 255, 255);
  height: 80vh;
  border-radius: 20px;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*START STYLES TITLE*/
.title {
  padding-top: 5vh;

  .tittle-text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: rgb(128, 128, 128);
  }
  .underline-tittle {
    width: 50%;
    border: 0.9px solid rgb(229, 229, 229);
    margin-left: auto;
    margin-right: 0;
    margin-top: 1vh;
  }
}
/*START STYLES MAIN*/
.main-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 100%;

  /*SECTION LEFT*/
  .left {
    flex: 1;
    padding-top: 4vh;
    align-items: center;

    p {
      color: rgb(128, 128, 128);
      font-weight: 600;
      line-height: 28px;
      font-size: 1rem;
      padding-bottom: 10px;
    }
    h1 {
      width: 70%;
      font-size: 1.5rem;
      font-weight: 550;
      font-style: normal;
      color: rgb(27, 27, 31);
    }

    .underline-main {
      margin-top: 15vh;
      border: 0.9px solid rgb(229, 229, 229);
    }
  }

  /*SECTION CENTER*/
  .center {
    background-color: rgb(255, 255, 255);
    text-align: center;
    flex: 0.5;
    align-items: center;
    align-content: center;

    .center-content {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      background-color: rgb(234, 253, 98);
      border-radius: 10px;
      padding: 20px;

      .health {
        display: flex;
        width: 100%;
        padding: 20px 0 0 0;
        font-size: 13px;
        font-weight: 600;
        color: rgb(128, 128, 128);
      }
      .health-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .porcent {
          font-size: 50px;
          font-weight: 600;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        }
        .porcentN {
          font-size: 20px;
          color: rgb(128, 128, 128);
        }
        .health-icons {
          margin-top: 14px;
          display: flex;
          width: 25%;
          gap: 10px;

          color: rgb(128, 128, 128);
          align-items: center;
        }
      }
      .dates {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        text-align: center;
        gap: 30px;

        a {
          align-items: center;
          text-align: center;
          text-decoration: none;
          font-size: 11px;
          color: rgb(128, 128, 128);
          font-weight: 600;
        }
        a:hover {
          border-bottom: 2px solid rgb(66, 66, 66);
        }
      }
      .dates {
        text-align: center;
        align-items: center;
      }
      .image {
        text-align: center;
        align-items: center;
        img {
          width: 220px;
          text-align: center;
          align-items: center;
          background: rgb(248, 248, 248);
          border-radius: 10px;
        }
      }
    }

    .my-fitness {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      width: 100%;
      button {
        border: none;
        background: none;
        color: rgb(128, 128, 128);
      }

      button:hover {
        color: white;
      }
      span {
        font-weight: 600;
        color: rgb(73, 73, 73);
        font-size: 15px;
        margin: 0 auto;
      }
    }
  }
  /*SECTION RIGHT*/
  .right {
    flex: 1;
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .right-content {
      width: 90%;
      display: flex;
      margin-bottom: 30px;
    }
    span {
      padding-left: 10px;
    }
  }
}

@media (max-width: 768px) {
  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .left {
    display: none;
  }
  .center {
    width: 100%;
    height: 10vh;
  }

  .right {
    display: none;

    .right-content {
      display: none;
      span {
        display: none;
      }
    }
  }
}
